.fa {
  display:inline-block;
  font:normal normal normal 14px/1 FontAwesome;
  font-size:inherit;
  text-rendering:auto;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

.fa-twitter:before {
  content:"\f099";
}

.fa-facebook-f:before, .fa-facebook:before {
  content:"\f09a";
}

.fa-bitbucket:before {
  content:"\f171";
}

.fa-creative-commons:before {
  content:"\f25e";
}

.fa {
  display:inline-block;
  font:normal normal normal 14px/1 FontAwesome;
  font-size:inherit;
  text-rendering:auto;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

.fa-twitter:before {
  content:"\f099";
}

.fa-facebook-f:before, .fa-facebook:before {
  content:"\f09a";
}

.fa-bitbucket:before {
  content:"\f171";
}

.fa-creative-commons:before {
  content:"\f25e";
}

.footer-dark {
  padding:50px 0;
  color: #9d9d9d;
  background-color: #222222;
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height:340px;
}

.footer-dark-admin {
  padding:50px 0;
  color: #9d9d9d;
  background-color: #222222;
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height:60px;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:0.9;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:20px;
}

body {
  margin-bottom:360px;
}

.panel-heading > h2 {
  font-size:5em;
}

i.glyphicon {
  margin-right:1rem;
}

img.img-circle.img-responsive.hidden-sm.hidden-md.hidden-lg.img-responsive {
  align-content:center;
}

