html {
  position:relative;
  min-height:100%;
}

body {
  margin-top:72px;
  padding-top:16px;
}

.navbar-site {
  height:50px;
  padding-top:0;
}

.navbar-brand {
  padding:4px;
}

img.navbar-logo {
  height:100%;
  width:auto;
  padding:0;
  margin-right:5px;
  display:inline-block;
}

