img.img-small {
  width:auto;
  height:64px;
  margin-right:1rem;
  vertical-align:middle;
}

ul.pagination {
  margin:auto;
}

.panel-default.panel-inverse {
  border: 1px solid #17212f;
}
.panel-default.panel-inverse a{
  color:#17212f;
}
.panel-default.panel-inverse > .panel-heading {
  background: #17212f;
  color:#ffffff;
}

.panel-primary.panel-inverse {
  border:1px solid #337ab7;
}
.panel-primary.panel-inverse a{
  color:#337ab7;
}
.panel-primary.panel-inverse > .panel-heading {
  background:#337ab7;
  color:#ffffff;
}

.panel-danger.panel-inverse {
  border:1px solid #d9534f;
}
.panel-danger.panel-inverse a{
  color:#d9534f;
}
.panel-danger.panel-inverse > .panel-heading {
  background:#d9534f;
  color:#fff;
}

.panel-info.panel-inverse {
  border:1px solid #5bc0de;
}
.panel-info.panel-inverse a{
  color:#5bc0de;
}
.panel-info.panel-inverse > .panel-heading {
  background:#5bc0de;
  color:#fff;
}

.panel-success.panel-inverse {
  border: 1px solid #22953e;
}
.panel-success.panel-inverse a{
  color:#22953e;
}
.panel-success.panel-inverse > .panel-heading {
  background:#22953e;
  color:#fff;
}

.panel-warning.panel-inverse {
  border: 1px solid #d9a022;
}
.panel-warning.panel-inverse a{
  color: #d9a022;
}
.panel-warning.panel-inverse > .panel-heading {
  background: #d9a022;
  color:#fff;
}

.panel-gold.panel-inverse {
  border: 1px solid #787354;
}
.panel-gold.panel-inverse a{
  color: #787354;
}
.panel-gold.panel-inverse > .panel-heading {
  background: #787354;
  color:#fff;
}

.panel-purple.panel-inverse {
  border: 1px solid #523347;
}
.panel-purple.panel-inverse a{
  color: #523347;
}
.panel-purple.panel-inverse > .panel-heading {
  background: #523347;
  color:#fff;
}


.panel-pink.panel-inverse {
  border: 1px solid #be0092;
}
.panel-pink.panel-inverse a{
  color: #be0092;
}
.panel-pink.panel-inverse > .panel-heading {
  background: #be0092;
  color:#fff;
}

.badge-high {
  background:#d9534f;
}

.badge-medium-high {
  background:#f0ad4e;
}

.badge-medium {
  background:#5cb85c;
}

.badge-medium-low {
  background:#5bc0de;
}

.badge-low {
  background:#337ab7;
}

.table-striped tbody > tr:hover {
  background:rgba(51,122,183,0.2);
}

.row-is-table{
  display: table;
}
.row-is-table [class*="col-"] {
  float: none;
  display: table-cell;
  vertical-align: top;
}

.img-thumbnail-rounded {
  display: block;
  border: 1px solid #ddd;
  border-radius: 100%;
}
